@charset "utf-8";






/* HTML and Body Styles */

	
body {
  margin: 0;    
  width: 100%;
    
}

body > header {
    margin: auto;
    font-size: 2.5em;
    width: 95%;
    
}

body > nav {
    width: 18%;
    float: left;
    margin:  0 0 0 1.5%;
    
}


body > article {
    width: 55%;
    float: left;
    margin: 0 0 0 2.5%;
	
}
	
body > article > blockquote {
    width: 95%;
    float: none;
	
}

body > aside {
    width: 20%;
    float: right;
    margin: 0 0 0 2.5% ;
}


body > footer {
    background: aqua;
    color: black;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1.2em;
}
