@charset "utf-8";



/* ================
   Base Flex Styles
   ================
*/

  a#navicon {
	  display: none;
  }

aside {
	-webkit-flex: 1 1 120px;
	flex: 1 1 120px;
}

/* =========================
   Mobile Styles: 0 to 640px 
   =========================
*/

@media only screen and (max-width: 640px) {
    
      
     
    body > article {
        float: right;
    }

    body > section > p {
        float: right;
    }
    
    nav.horizontal a {
		font-size: 1.0em;
	}

    
    a#navicon {
	   display: block;
       background-color: aqua;
   }
   
    nav.horizontal h1 {
        display: none;
    }
    
   nav.horizontal ul {
	   display: none;
   }
   
   a#navicon:hover+ul, nav.horizontal ul:hover {
       
	   display: block;
   }
    
    ul.mainmenu { 
display: none;
}

a.mainmenu:hover+ul.mainmenu, ul.mainmenu:hover{
	display: block;
}

		
   
}
    
    
    
    
    
    
    
    
    
 